<section>
    <footer class="conteiner-fluid footer"> 
            <img class="logo-footer" src="./assets/logo_negro1.png"  width="250px" height="30px" alt="logo_diseñadora">
            <div class="row justify-content-md-center">
                <div class="col-md-auto elementos-footer">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FA979F" fill="none" stroke-linecap="round" stroke-linejoin="round">
                         <a href="https://es-la.facebook.com/">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                        </a>
                      </svg>
                </div>
                <div class="col-md-auto elementos-footer">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FA979F" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <a href="https://www.instagram.com/">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <rect x="4" y="4" width="16" height="16" rx="4" />
                        <circle cx="12" cy="12" r="3" />
                        <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
                        </a>
                      </svg>
                </div>
            </div>
            <div class="row align-items-center elementos-footer ">
                <p>Todos los derechos reservados. Micaela Montali. 2022</p>
            </div>  
    </footer>
</section>