<section class="container-fluid text-center clientes">
    <h2 class="titulo-quienes-confian">Quienes confían en nosotros</h2>
    <div class="row row-cols-10">
        <div class="col orientacion-logos">
            <img class="logos_clientes" src="./assets/logo_angeletti.png"  alt="logo_cliente">
        </div>
        <div class="col orientacion-logos">
            <img class="logos_clientes" src="./assets/logo_pcs.png"  alt="logo_cliente">
        </div>
        <div class="col orientacion-logos">
            <img class="logos_clientes" src="./assets/logo_panna_cotta.png"  alt="logo_cliente">
        </div>
        <div class="col orientacion-logos">
            <img class="logos_clientes" src="./assets/logo_picante.png"  alt="logo_cliente">
        </div>
        <div class="col orientacion-logos">
            <img class="logos_clientes" src="./assets/logo_delta.png" alt="logo_cliente">
        </div>
        <div class="col orientacion-logos">
            <img class="logos_clientes" src="./assets/logo_san_jose.png"  alt="logo_cliente">
        </div>
      </div>  
</section>
