<section class="container text-center">  
    <div class="row">
        <h2 class="titulo-formacion">FORMACIÓN</h2>
        <div class="mb-3 card-fondo" style="max-width: 100%;">
            <div class="row g-0">
                <div class="col-md-3 card-logos">
                    <img src="assets/logo-metro.png" class="img-fluid rounded-start card-logos" alt="logo_escuela_normal" width="130px" height="auto">
                </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <h3 class="card-title titulo-lugar-de-trabajo">Técnica Superior en Publicidad</h3>
                        <p class="card-text card-parrafo">La Metro. "Escuela de comunicación Audiovisual"</p>
                        <p class="card-text card-parrafo">2006 - 2009</p>
                        </div>
                    </div>
                    <div class="col-md-auto">
                            <div>
                                <button title="editar" class="boton-editar" tabindex="0">
                                    <a href="loguin.html">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FEFEFE" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                        <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                    </svg>
                                    </a>
                                </button>
                            </div>
                        </div>
                </div>
            </div>
            <div class="mb-3 card-fondo" style="max-width: 100%;">
                <div class="row g-0">
                    <div class="col-md-3 card-logos">
                        <img src="assets/logo_ena.png" class="img-fluid rounded-start card-logos-tamaños" alt="logo_escuela_normal" width="100px" height="auto">
                    </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h3 class="card-title titulo-lugar-de-trabajo">Profesora de Educación Inicial</h3>
                            <p class="card-text card-parrafo">Escuela Normal Superior, "Dr. Nicolás Avellaneda"</p>
                            <p class="card-text card-parrafo">2010 -  2013</p>
                            </div>
                        </div>
                        <div class="col-md-auto">
                                <div>
                                    <button title="editar" class="boton-editar" tabindex="0">
                                        <a href="loguin.html">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FEFEFE" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                            <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                        </svg>
                                        </a>
                                    </button>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="mb-3 card-fondo" style="max-width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-3 card-logos">
                            <img src="assets/logo_ispc.png" class="img-fluid rounded-start card-logos" alt="logo_escuela_normal" width="140px" height="auto">
                        </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                <h3 class="card-title titulo-lugar-de-trabajo">Técnica Superior en Programación y Desarrollo Web</h3>
                                <p class="card-text card-parrafo">ISPC, "Instituto Superior Politécnico de Córdoba"</p>
                                <p class="card-text card-parrafo">2020 - Actualidad. (Primer Año Completo)</p>
                                </div>
                            </div>
                            <div class="col-md-auto">
                                    <div>
                                        <button title="editar" class="boton-editar" tabindex="0">
                                            <a href="loguin.html">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FEFEFE" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                                <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                            </svg>
                                            </a>
                                        </button>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="mb-3 card-fondo" style="max-width: 100%;">
                        <div class="row g-0">
                            <div class="col-md-3 card-logos">
                                <img src="assets/logo_argprog.png" class="img-fluid rounded-start card-logos" alt="logo_escuela_normal" width="130px" height="auto">
                            </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                    <h3 class="card-title titulo-lugar-de-trabajo">Programador Web Full Stack Jr.</h3>
                                    <p class="card-text card-parrafo">Ministerio de Desarrollo Argentino - INTI</p>
                                    <p class="card-text card-parrafo">2022 - 2023</p>
                                    </div>
                                </div>
                                <div class="col-md-auto">
                                        <div>
                                            <button title="editar" class="boton-editar" tabindex="0">
                                                <a href="loguin.html">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FEFEFE" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                                    <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                                </svg>
                                                </a>
                                            </button>
                                        </div>
                                    </div>
                            </div>
                        </div>   
    </div>
</section>