<section class="container text-center">  
    <div class="row">
        <h2 class="titulo-formacion">FORMACIÓN</h2>
        <div class="mb-3 ">
            <div class="row g-0 card-fondo" style="max-width: 100%" *ngFor="let educacion of educacionList">
                <div class="col-md-3 card-logos">
                    <img [src]="educacion.img" class="img-fluid rounded-start card-logos" alt="logo_institucion_estudio" width="100px" height="auto">
                </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <h3 class="card-title titulo-lugar-de-trabajo"> {{educacion.titulo}} </h3>
                        <p class="card-text card-parrafo"> {{educacion.institucion}} </p>
                        <p class="card-text card-parrafo"> {{educacion.duracion}} </p>
                        </div>
                    </div>
                    <div class="col-md-auto">
                            <div>
                                <button title="editar" class="boton-editar" tabindex="0">
                                    <a href="loguin.html">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FEFEFE" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                        <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                    </svg>
                                    </a>
                                </button>
                            </div>
                        </div>
                </div>
            </div>
            
    </div>
</section>