<section>
    <div class="container">
        <h2 class="titulo-proyectos">PROYECTOS REALIZADOS</h2>
    <div class="card-group ">
        <div class="card proyectos"style="background-color: #e2e2e3; border-radius: 15px; border: none; font-size: 16px; margin: 10px; padding: 15px;">
          <img src="assets/pistolera_sitio.png" class="card-img-top" width="80px" height="auto" alt="tienda-nube-pistolera-swimmwear">
          <div class="card-body">
            <h5 class="card-title">Pistolera Swimmwear</h5>
            <p class="card-text">Para este proyecto participé armando una imagen de marca,
                una planificación de comunicación en redes y tienda nube.</p>
                <a class="botones" href="https://pistoleraswimwear.mitiendanube.com/">Más info</a>   
          </div>
        </div>
        <div class="card proyectos" style="background-color: #e2e2e3; border-radius: 15px; border: none; font-size: 16px; margin: 10px; padding: 15px;">
          <img src="assets/2e_insta.png" class="card-img-top" width="80px" height="auto" alt="sitio_2e">
          <div class="card-body">
            <h5 class="card-title">2E Momentos de Té</h5>
            <p class="card-text">Para este proyecto participé armando una imagen de marca,
                una planificación de comunicación en redes.</p>
                <a class="botones" href="https://www.instagram.com/2e_momentosdete/">Más info</a>
          </div>
        </div>
        <div class="card proyectos" style="background-color: #e2e2e3; border-radius: 15px; border: none; font-size: 16px; margin: 10px; padding: 15px;">
          <img src="assets/Sin título-1.png" class="card-img-top" width="80px" height="auto" alt="sitio_vulletic">
          <div class="card-body">
            <h5 class="card-title">Vulletic</h5>
            <p class="card-text">Para este proyecto participé del diseño y armado del sitio web a través de Wordpress.</p>
            <a class="botones" href="https://vulletic.com.ar/">Más info</a>
          </div>
        </div>
      </div>
    </div>
</section>