<section>
    <div class="container text-center">
        <div class="row">
            <h2 class="titulo-experiencia">EXPERIENCIA LABORAL</h2>
                <div class="mb-3 card-fondo" style="max-width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-3 card-logos">
                            <img src="assets/logo_ena.png" class="img-fluid rounded-start card-logos" alt="logo_escuela_normal" width="80px" height="auto">
                        </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                <h3 class="card-title titulo-lugar-de-trabajo">Escuela Normal Superior, "Dr. Nicolas Avellaneda"</h3>
                                <p class="card-text card-parrafo">01 de Junio de 2010 a 01 de Agosto de 2021.</p>
                                <p class="card-text card-parrafo">Profesora de Educación Tecnológica en nivel primario y en 1º y 2º año de Nivel Secundario.</p>
                                </div>
                            </div>
                            <div class="col-md-auto">
                                    <div>
                                        <button title="editar" class="boton-editar" tabindex="0">
                                            <a href="loguin.html">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FEFEFE" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                                <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                            </svg>
                                            </a>
                                        </button>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="mb-3 card-fondo" style="max-width: 100%;">
                        <div class="row g-0">
                            <div class="col-md-3 card-logos">
                                <img src="assets/logo_fasta.png" class="img-fluid rounded-start card-logos-tamaños" alt="logo_escuela_normal" width="100px" height="auto">
                            </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                    <h3 class="card-title titulo-lugar-de-trabajo">FASTA. "Inmaculada Concepción"</h3>
                                    <p class="card-text card-parrafo">07 de Marzo de 2014 a 18 de Diciembre de 2016.</p>
                                    <p class="card-text card-parrafo">Profesora de Formación Doctrinal en 1º, 2º y 3º año de Nivel Secundario.</p>
                                    <p class="card-text card-parrafo">07 de Marzo de 2021 a la actualidad.</p>
                                    <p class="card-text card-parrafo">Profesora de Lenguaje Digital, Profesora de Práctica Docente y Profesora de Aula
                                        Taller en el Profesorado de Educación Tecnológica.</p>
                                    </div>
                                </div>
                                <div class="col-md-auto">
                                        <div>
                                            <button title="editar" class="boton-editar" tabindex="0">
                                                <a href="loguin.html">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FEFEFE" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                                    <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                                </svg>
                                                </a>
                                            </button>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="mb-3 card-fondo" style="max-width: 100%;">
                            <div class="row g-0">
                                <div class="col-md-3 card-logos">
                                    <img src="assets/logo_craft.png" class="img-fluid rounded-start card-logos" alt="logo_escuela_normal" width="95px" height="auto">
                                </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                        <h3 class="card-title titulo-lugar-de-trabajo">Craft. Taller de Diseño</h3>
                                        <p class="card-text card-parrafo">08 de Diciembre de 2018 a la actualidad.</p>
                                        <p class="card-text card-parrafo">Creación de Marca Craft para el desarrollo de tareas de diseño y publicidad de forma
                                            Freelance</p>
                                        </div>
                                    </div>
                                    <div class="col-md-auto">
                                            <div>
                                                <button title="editar" class="boton-editar" tabindex="0">
                                                    <a href="loguin.html">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FEFEFE" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                        <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                                        <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                                    </svg>
                                                    </a>
                                                </button>
                                            </div>
                                        </div>
                                </div>
                            </div>
                </div>
    </div>  
 </section>