<div class="row">
    <h2 class="titulo-habilidades">HABILIDADES ADQUIRIDAS</h2>
        <div class="text-center col-md-3 col-sm-6">
            <circle-progress
                [percent]="40"
                [radius]="100"
                [showUnits]="false"
                [title]="'HTML5'"
                [titleColor]="'#FA979F'"
                [titleFontSize]="'16px'"
                [titleFontWeight]="'700'"
                [showSubtitle]="false"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#FA979F'"
                [innerStrokeColor]="'#e2e2e3'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
        </div>
        
        <div class="text-center col-md-3 col-sm-6">
            <circle-progress
                [percent]="40"
                [radius]="100"
                [showUnits]="false"
                [title]="'CSS'"
                [titleColor]="'#FA979F'"
                [titleFontSize]="'16px'"
                [titleFontWeight]="'700'"
                [showSubtitle]="false"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#FA979F'"
                [innerStrokeColor]="'#e2e2e3'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
        </div>

        <div class="text-center col-md-3 col-sm-6">
            <circle-progress
                [percent]="40"
                [radius]="100"
                [showUnits]="false"
                [title]="'JAVASCRIP'"
                [titleColor]="'#FA979F'"
                [titleFontSize]="'16px'"
                [titleFontWeight]="'700'"
                [showSubtitle]="false"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#FA979F'"
                [innerStrokeColor]="'#e2e2e3'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
        </div>

        <div class="text-center col-md-3 col-sm-6">
            <circle-progress
                [percent]="40"
                [radius]="100"
                [showUnits]="false"
                [title]="'TYPESCRIPT'"
                [titleColor]="'#FA979F'"
                [titleFontSize]="'16px'"
                [titleFontWeight]="'700'"
                [showSubtitle]="false"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#FA979F'"
                [innerStrokeColor]="'#e2e2e3'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
        </div>

        <div class="text-center col-md-3 col-sm-6">
            <circle-progress
                [percent]="40"
                [radius]="100"
                [showUnits]="false"
                [title]="'ANGULAR'"
                [titleColor]="'#FA979F'"
                [titleFontSize]="'16px'"
                [titleFontWeight]="'700'"
                [showSubtitle]="false"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#FA979F'"
                [innerStrokeColor]="'#e2e2e3'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
        </div>

        <div class="text-center col-md-3 col-sm-6">
            <circle-progress
                [percent]="40"
                [radius]="100"
                [showUnits]="false"
                [title]="'MYSQL'"
                [titleColor]="'#FA979F'"
                [titleFontSize]="'16px'"
                [titleFontWeight]="'700'"
                [showSubtitle]="false"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#FA979F'"
                [innerStrokeColor]="'#e2e2e3'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
        </div>

        <div class="text-center col-md-3 col-sm-6">
            <circle-progress
                [percent]="40"
                [radius]="100"
                [showUnits]="false"
                [title]="'JAVA'"
                [titleColor]="'#FA979F'"
                [titleFontSize]="'16px'"
                [titleFontWeight]="'700'"
                [showSubtitle]="false"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#FA979F'"
                [innerStrokeColor]="'#e2e2e3'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
        </div>

        <div class="text-center col-md-3 col-sm-6">
            <circle-progress
                [percent]="40"
                [radius]="100"
                [showUnits]="false"
                [title]="'SPRINGBOOT'"
                [titleColor]="'#FA979F'"
                [titleFontSize]="'16px'"
                [titleFontWeight]="'700'"
                [showSubtitle]="false"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#FA979F'"
                [innerStrokeColor]="'#e2e2e3'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
        </div>
