<section>
    <div class="container">
        <h2 class="titulo-habilidades">HABILIDADES ADQUIRIDAS</h2>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h3 class="habilidades-h3">HTML5</h3>
                <div class="progress blue">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">Intermedio</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3 class="habilidades-h3">CSS</h3>
                <div class="progress blue">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">Intermedio</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3 class="habilidades-h3">JAVASCRIPT</h3>
                <div class="progress blue">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">Principiante</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3 class="habilidades-h3">TYPESCRIPT</h3>
                <div class="progress blue">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">Principiante</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3 class="habilidades-h3">ANGULAR</h3>
                <div class="progress blue">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">Principiante</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3 class="habilidades-h3">MYSQL</h3>
                <div class="progress blue">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">Principiante</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3 class="habilidades-h3">JAVA</h3>
                <div class="progress blue">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">Principiante</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3 class="habilidades-h3">SPRINGBOOT</h3>
                <div class="progress blue">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">Principiante</div>
                </div>
            </div>
        </div>
    </div>
</section>