<section class="container">
    <div class="row">
        <h2 class="titulo-sobre-mi">SOBRE MI</h2>
        <div class="row align-items-center">
            <div class="col-md-3 sobre-mi-elementos">
               <img
                [src]="miPortfolio.fotoPersonal" width="250" height="250px">
            </div>
            <div class="col-md-9  seccion-personal">
                <p>{{miPortfolio.name}}</p>
                <p>{{miPortfolio.ocupation}}</p>
                <p>Desde hace 12 años me dedico la docencia en el campo de la Educación Tecnológica. Dí clases
                    en los distintos niveles de la educación formal.</p>
                <p>En el área de la Publicidad me dedico al diseño gráfico y la comunicación. Armando
                    imágenes de marca tanto para soportes en papel como para redes.</p>
                <p>Mi objetivo a futuro es poder dedicarme a la programación, aprendiendo más dentro de un equipo
                    de trabajo y combinando el desarrollo con los conocimientos adquiridos en las otras áreas.</p>
            </div>
        </div>
    </div>
</section>

