<section>
    <div class="row">
        <h2 class="titulo-sobre-mi">{{miPortfolio.name}}</h2>
        <div class="row align-items-center">
            <div class="col-sm-2 offset-2">
                <img [src]="miPortfolio.fotografiaPersonal" width="250" height="250px">
            </div>
            <div class="col-sm-7  seccion-personal">
                <p>{{miPortfolio.titulacion}}</p>
                <p>Desde hace 12 años me dedico la docencia en el campo de la Educación Tecnológica y  al armado de
                    imágenes de marcas.</p>
                <p>Mi objetivo es encontrar el mejor estilo que se adapte a tu negocio y la proyección que este puede 
                   ofrecerle para marcar la diferencia en el mercado.</p>
                <a href="#" class="btn botones">Contactame!</a>
            </div>
        </div>
    </div>
</section>