:root {
    --blanco:#FEFEFE;
    --negro: #373435;
    --gris:  #e2e2e3;
    --rosa:  #FA979F;
    --verde: #89C9C6;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.navbar{ 
    background-color: #e2e2e3;
}

.nav-link, .nav-item {
    font-size: 16px;
    text-align: right;
    color: #373435;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.banner-item{
    margin-top: 20px;
    width: 100%;
}


.titulo-experiencia, .titulo-sobre-mi, .titulo-habilidades, .titulo-formacion, .titulo-proyectos {
    color: #89C9C6;
    font-weight: 700;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}

.sobre-mi-elementos {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.seccion-personal {
    font-size: 16px;
    background-color: #e2e2e3;
    border-radius: 15px;
    padding: 20px;
}

.card-fondo {
    background-color: #e2e2e3;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    border: none;

}

.col-experiencia{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.boton-editar{
    margin-top: 10px;
    margin-left: 10px;
    background-color:#89C9C6;
    border-radius: 50%;
    border: none;
    padding: 5px;
}

.card-logos {
    padding:10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-logos-tamaños {
    margin-top: 10px;
    padding: 15px;
}

.titulo-lugar-de-trabajo {
    color: #FA979F;
    font-weight: 700;
    text-align: left;
}

.card-parrafo {
    text-align: left;
    font-size: 16px;
}

.habilidades-h3 {
    margin-top: 10px;
    padding: 5px;
    color: #FA979F;
    font-size: 18px;
    font-weight: 700;
    text-align: center;

}

.bg-col {
    background-color: #e2e2e3;
    height: auto;
    width: 500px;
    border-radius: 15px;
    margin: 20px;
    padding: 10px;

}

.botones {
    background-color: #FA979F;
    color: #FEFEFE;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 700;
    padding: 5px;
    display: inline;
    align-items: center;
    text-decoration: none;
    
}

.proyectos {
    background-color: #e2e2e3;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    margin: 15px;
    padding: 20px;
}

.proyectos h5 {
    font-size: 16px;
    font-weight: 700;
    color: #FA979F;
}

.fomrulario-contacto {
    background-color: #89C9C6;
    margin: 20px;
    padding: 20px;
    color: #FEFEFE;
    font-weight: 700;
    border-radius: 15px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.h2-formulario {
    font-size: 45px;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 15px;
}


.footer {
    background-color: #e2e2e3;
    padding: 10px;
    text-align: center;
    margin-block-start: auto;

}


.logo-footer {
    width: auto;
    align-items: center;
    margin-top: 5px;
}

.elementos-footer {
    padding-top: 10px;
    font-size: 16px;
}

.elementos-loguin {
    margin-top: 250px;
    width: 300px;
    height: 350px;
    background: #89C9C6;
    color: #FEFEFE;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.elementos-loguin h2 {
    padding: 20px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.elementos-loguin label{
    padding: 5px;
    font-weight: 700;

}

.elementos-loguin input {
    border: none;
    border-bottom: 1px solid #FEFEFE;
    background: transparent;
    outline: none;
    height: 40px;
    color: #FEFEFE;
    font-size: 18px;
}

