<section>
    <div class="container elementos-loguin">
        <h2>Loguin</h2>
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">E-mail</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresá tu e-mail">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingresá tu contraseña">
            </div>
            <button type="submit" class="botones" style="border: none;">Enviar</button>
        </form>
    </div>
</section>
